[Desktop Entry]
Name=Tester
Comment=A lightweight tool to test competitive programming problems locally
Exec=tester
Terminal=false
Type=Application
Icon=tester
Categories=Education;ComputerScience;
Keywords=tester;testing;programming;problems;competitive;olympiad;
